<div class="row margin-top-20" id="auth-container">
	<div class="col-md-12">
		<form>
			<h1>Pagina de logare</h1>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" ng-model="vm.user.email" class="form-control" id="exampleInputEmail1" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" ng-model="vm.user.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default" ng-click="vm.login()">Login</button>
			<span>or</span>
			<a href="#" ng-click="vm.navigateTo()">Register</a>
		</form>
	</div>		
</div>