<!-- <div ng-controller="navBarController"> -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="" ng-click="vm.navigateTo('home')">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="" ng-click="vm.navigateTo('meniu')">Meniu</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li><a ng-href="">{{vm.user.name}}</a></a></li>
          <li class="dropdown">
            <a ng-href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contul meu <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-show="vm.user"><a href="" ng-click="vm.navigateTo('myProfile')">Date personale</a></li>
              <li ng-show="vm.user"><a href="" ng-click="vm.navigateTo('changePassword')">Schimba parola</a></li>
              <li ng-show="vm.user && vm.user.role == 'admin' "><a href="" ng-click="vm.navigateTo('order')">Toate comenzile</a></li>
              <li ng-show="vm.user"><a href="" ng-click="vm.navigateTo('myOrders')">Comenzile mele</a></li>
              <li ng-show="vm.user && vm.user.role == 'admin' "><a href="" ng-click="vm.navigateTo('admin')">Admin</a></li>
              <li ng-show="vm.user"><a href="" ng-click="vm.logOut()">log out</a></li>
              <li ng-show="!vm.user"><a href="" ng-click="vm.logOut()">log in</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav
